*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}
body{
    height: 552px;
    width: 313px;
    background-image: url(/Preview/leaf.gif);
    background-position: center;
    background-color: #7be495;
}
nav{
    background-color: #7be495;
    height: 80px;
    width: auto;
}
nav ul{
    float: right;
    margin-right: 20px;
}
div.option{
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 20vh;
}

nav ul li{
    width: auto;
    line-height: 50px;
    left: 0%;
    text-align: left;
}
nav ul li a{
    border-radius: 8px;
    text-transform: uppercase;
    padding: 7px 13px;
    margin-right: 25px;
}
a:hover,a.active
{
    font-size: 20px;
    text-decoration: none;
    color: cornsilk;
}
#lImg{
    position: fixed;
    width: 313px;
    height: 200px;
    bottom: 0%;
}
.lscape{
    position: absolute;
}
.fIcon{
    position: fixed;
    bottom: 8%;
}
.iconImg.No1{
    margin-left: 75px;
}
.iconImg{
    margin-right: 20px;
}
.checkBtn{
    float: right;
    margin-top: 30px;
    margin-right: 25px;
    cursor: pointer;
    box-sizing: border-box;
}
#check{
    display: none;
}
#check:checked ~ ul.temp
{
    left: 0;
}
#check:checked ~ ul .option #li1{
    animation: lateIn .9s ease-in;
}
#check:checked ~ ul .option #li2{
    animation: lateIn .8s ease-in;
}
#check:checked ~ ul .option #li3{
    animation: lateIn .7s ease-in;
}
#check:checked ~ ul div.lscape{
    display: block;
    position:absolute;
    /* animation: lScapeUP .9s ease-in; */
}
#check:checked ~ ul div.lscape img#lImg {
    /* display: none; */
    animation: lScapeUP .8s ease-in;
}
#check:checked ~ ul div.fIcon{
    animation: lScapeUP .9s ease-in;
}

ul.temp{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #7be495;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
.logo{
    position: relative;
    text-align: center;
}
h5{
    text-align: center;
}

/* last box */
#Test{
    /* display: none; */
    margin-top: 45px;
    font-size: 1.64em;
}
#number{
    /* display: none; */
    font-size: 1.64em;
}
footer {
    bottom: 0%;
    position: fixed;
    width: 100%
}
.hint{
    font-size: 11px;
    font-style: italic;
    width: 100%;
    color: #429657;
}

/* Animated menu */
.wrapper {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .line-menu {
    background-color: #429657;
    border-radius: 5px;
    width: 100%;
    height: 2.5px;
  }
  
  .line-menu.half {
    width: 50%;
    height: 2px;
  }
  
  .line-menu.start {
    transition: transform .5s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform .5s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  
  /* Click Animation */
  .wrapper.is-active {
    transform: rotate(-45deg);  
  }
  
  .is-active .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .is-active .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }

@keyframes lateIn {
    from {
        margin-left: -20%;
    }
}
@keyframes lScapeUP {
    from{
        bottom: -25%;
    }
}

.active {
    display: inline-block;
    position: relative;
    color: cornsilk;
  }
  
  .active:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cornsilk;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .active:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }