*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: #7be495;
    font-family: 'Prompt', sans-serif;
}
body{
    height: 507px;
    width: auto;
    width: 313.3px;
}

h5{
    text-align: center;
}

#Test{
    /* display: none; */
    margin-top: 45px;
    font-size: 1.64em;
}
#number{
    /* display: none; */
    font-size: 1.64em;
}
footer {
    bottom: 0%;
    position: fixed;
}
.hint{
    font-size: 11px;
    font-style: italic;
    color: #34a350;
}